.newItemEntry{
    position:sticky;
    top: 0;
    margin-bottom: 1rem;
    padding: 0.75rem;

    form{
        display: flex;
        justify-content: space-between;

        label{
           position: absolute;
           left: -10000px;

        }

        input[type="text"]{
            width: 80%;
            font-size: 1.25rem;
            border: 2px solid $textbox-bordercolor;
            border-radius:10px;
            padding: 0.75rem;
            outline: none;
        }
       
    }
}